---
import CinemaPageHeader from './CinemaPageHeader.astro';
import ProgramList from './ProgramList.astro';
import type { CinemaPageData } from './types';

interface Props {
	data: CinemaPageData;
}

const { data } = Astro.props;
---

<main class="tw:min-h-screen tw:bg-neutral-base tw:px-6 tw:py-7 tw:text-neutral-primary tw:max-[900px]:px-4">
	<div class="tw:mx-auto tw:w-full tw:max-w-680">
		<CinemaPageHeader
			cinemaName={data.cinemaName}
			cinemaDetailsUrl={data.cinemaDetailsUrl}
			seasonBookingUrl={data.seasonBookingUrl}
		/>
		<ProgramList programs={data.programs} />
	</div>
</main>
